<h1> Sticki Index Page </h1>

<%= link_to "Create Sticki", new_project_sticki_path, class: "btn btn-outline-primary" %>

<div class="grid-stack" id="my-stickis">
    <% @x = 0 %>
    <% @stickis.each do |sticki| %>
  <%= render sticki %>

      <% if @x == 10 %>
        <% @x -= 10 %>             
      <% else %>
        <% @x += 2 %>
      <% end %>
    <% end %>
</div>
<br>


<div id="sticki-form" style="display:none;"></div>
