<h1> Sticki Index Page </h1>

<%= link_to "Create Sticki", new_project_sticki_path, class: "btn btn-outline-primary" %>

<div class="d-flex flex-wrap" id="my-stickis">
    <% @stickis.each do |sticki| %>
      <%= render sticki %>
    <% end %>
</div>
<br>


<%= link_to "Create Sticki", new_project_sticki_path, class: "btn btn-outline-primary" %>

<div id="sticki-form" style="display:none;"></div>
