<div id="myModal"></div>
<h1> Stickis </h1>

<%= link_to "Create New Sticki", new_project_sticki_path, remote: true, class: "btn btn-primary" %>

<div class="grid-stack" id="my-stickis">
  <% @x = 0 %>
  <% @stickis.each do |sticki| %>
    <%= render sticki %>
      <% if @x == 10 %>
        <% @x -= 10 %>
      <% else %>
        <% @x += 2 %>
      <% end %>
    <% end %>
</div>
<br>
