
  <%@page_location = "landing"%>
  
<div id="landing-page-sign-in-wrap">
   
      <h1 id="landing-page-title" class="stickido">Stickido</h1>

      <p class="tagline-one">Stickies are fun !</p>
      <p class="tagline-two">Let's make a project</p>

          

      <% if user_signed_in? %>

        <%# link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>

      <% else %>
        <div id="sign-in-buttons-wrap">
          <a class="btn btn-primary" href="users/sign_up" role="button">Sign Up</a>
          <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
        </div>
      <% end %>
    
   </div>



  <%# render 'footer.html.erb' %>
