
  <div class="jumbotron">
    <h1 class="display-4">
      Stickido
    </h1>
    <p class="lead">
      A productivity app which uses notes to transform your ideas into reality.
    </p>
    <hr class="my-4">
    <a class="btn btn-primary" href="users/sign_up" role="button">Sign Up</a>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
    <% end %>
  </div>
