<div id="pageFrame">
    <div id="stickisFrame">
        <div id="stikisContent">
            sticki content
        </div>
    </div>
    <div id="listFrame">
        <div id="listContent">
            list content
        </div>
    </div>
    <div id="timelineFrame">
        <div id="timelineContent">
            timeline content
        </div>
    </div>
</div>