<h1> Project Index Page </h1><br/>

<%= link_to 'New Project', new_project_path, remote: true, id: "ajaxcall" %>


<div id="project-form" style="display:none;"></div>

<div id="my-projects">
<% @projects.each do |project| %>
      <%= render project %>
    <% end %>
</div>

<br>


