<%@page_location = "projects"%>



<div class="projectPageWrap">
  
    <%= link_to "stickido a new project", new_project_path, remote: true, class: "btn btn-primary" %>


    <h1> my projects </h1>
    <div id="myModal"></div>

    <div id="my-projects">
    <% @projects.each do |project| %>
          <%= render project %>
        <% end %>
    </div>
 
</div>


