<h1> my projects </h1><br/>


<%= link_to "Create New Project", new_project_path, remote: true, class: "btn btn-primary" %>


<div id="myModal"></div>

<div id="my-projects">
<% @projects.each do |project| %>
      <%= render project %>
    <% end %>
</div>

<br>


