<h1><%= @project.name %></h1>

<div class="content">
<p>Project Name: <%= @project.name %></p>
</div>


<% @tasks.each do |task| %>
<p>Task Name: <%= task.name %></p>
<p>Task Content: <%= task.content %></p>
<% end %>

