/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require animate
 * require reset
 *= require pages
 *= require bootstrap
 *= require project-frame
 *= require jquery-ui
 *= require gridstack
 *= require timeline
 *= require tasks
 *= require stickis
 *= require task-frames
 *= require task-items
 *= require header
 *= require footer
 *= require toggle-view
 *= require landing-page
 *= require_self
 */

body {
  // font-family: "Indie Flower", cursive;
  font-family: "Delius", cursive;
}

.find {
  color: magenta;
}

.findOne {
  color: green;
}

.findTwo {
  color: purple;
}

// timeline styles:
.scrollbar {
  height: 1rem;
  transform: translate(0px, 100px);
}

.border {
  background-color: purple;
  border-radius: 15px;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeline-text {
  color: white;
  font-family: "Delius", cursive;
  display: inline-block;
  width: 1rem;
}

// PROJECTS PAGE:
.projectPageWrap {
  width: 20vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.btn,
.btn-primary {
  background-image: url("http://www.clker.com/cliparts/a/i/P/u/T/5/dark-purple-rectangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5rem;
  border: solid white 2px;
  color: black;
  margin: 0.5rem;
}

.btn,
.btn-primary:hoveer {
  color: purple;
}

// edit and delete buttons

.edit-button {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKIFMm5fRz-89p0XEDYPpL93B-0UFOwJhjyRmYCtn5Ip5TtKvs");
  background-repeat: no-repeat;

  margin: 0.5rem;
  background-size: contain;
  color: rgba(128, 0, 128, 0.011);
  // border: dotted magenta 1px;
  transform: translate(30px, 0px);
}

.edit-button:hover {
  padding: 0.25rem;
  color: rgba(128, 0, 128, 0.011);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBpmAOrYa6Tyoaedm_lOyKsTbL6tcail1MxbXpuD69ke6cnFbAtg");
  // animation-name: tada;
  // animation-duration: 1s;
}

.delete-button {
  color: black;
  margin: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(128, 0, 128, 0.011);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqQvj2Om0zUKAbh2uIusFflX8UMCmMNfDcz1RXpK8WMBNpHACQ");
  opacity: 0.5;
  transform: translate(20px, 0px);
}

.delete-button:hover {
  color: white;
  margin: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(128, 0, 128, 0);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqQvj2Om0zUKAbh2uIusFflX8UMCmMNfDcz1RXpK8WMBNpHACQ");
  opacity: 1;
  // animation-name: shake;
  // animation-duration: 1s;
}

// stickies and projects buttons:
button {
  border: none;
}
.go-to-stickies {
  background-image: url("http://www.clker.com/cliparts/a/i/P/u/T/5/dark-purple-rectangle.svg");
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: 100% 100%;
  padding: 1rem;
  border: solid white 2px;
  color: black;
  margin: 0.5rem;
  color: white;
  transform: translate(50px, 30px) scale(1.5);
}

.go-to-stickies a {
  display: inline-block;
  padding-bottom: 0.25rem;
}

.do-new-project {
  background-image: url("http://www.clker.com/cliparts/a/i/P/u/T/5/dark-purple-rectangle.svg");
  background-repeat: no-repeat;
  // background-size: contain;
  background-size: 100% 100%;
  padding: 1rem;
  border: solid white 2px;
  color: black;
  margin: 0.5rem;
  color: white;
}

.project-summary-wrap {
  // border: solid magenta 2px;
  height: 200px;
}

.take-me-to-project {
  background-image: url("http://www.clker.com/cliparts/a/i/P/u/T/5/dark-purple-rectangle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-size: 100% 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.take-me-to-project a {
  text-decoration: none;
  color: white;
  display: inline-block;
  flex-grow: 2;
}

.project-title-edit-delete {
  // border: green solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
