#landing-page-sign-in-wrap {
  width: 20vw;
  border: solid blue 2px;
  margin: auto;
  text-align: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-page-title {
  font-size: 4rem;
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 1s;
}

.tagline-one {
  font-size: 2rem;
  animation-name: rubberBand;
  animation-duration: 2s;
}

.tagline-two {
  font-size: 2rem;
  animation-name: bounceInUp;
  animation-delay: 0.5s;
  animation-duration: 2s;
}

.stickido {
}

#sign-in-buttons-wrap {
  border: solid green 2px;
  width: 40%;
}
