body {
  background-color: white;
}
#taskFrame {
  border: dotted magenta 5px;
  overflow-y: hidden;
}
#taskFrameInnerWrap {
  border: dotted 10px turquoise;
  width: 20000px;
  height: 100vh;
  display: inline-block;
  /* overflow-y: hidden; */
}

#timeLineFrame {
  height: 50px;
  border: dotted blue 5px;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  display: flex;
}

.dateData {
  flex-grow: 1;
  border: dotted gray 1px;
  background-color: white;
  border-radius: 5px;
}

.listFrameContainer {
  border: dotted gray 1px;
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  padding: 1rem;
  height: 90vh;
}

.listFrame {
  border: solid black 2px;
  overflow-y: scroll;
  width: 500px;
  float: left;
  height: 80vh;
  overflow-y: scroll;
}

.listFrameLevelTwo {
  border: dotted blue 4px;
  background: white;
  margin: 5px;
  transform: translate(100px, 0px);
}

.subTaskTwoWrap {
  border: dotted purple 4px;
  background: green;
  margin: 5px;
  transform: translate(100px, 0px);
}

.blue {
  background-color: aqua;
}

li {
  margin: 0.25rem;
}
div.individualTaskWrapLevelOne {
  background-color: white;
  padding: 0.25rem;
}

div.individualTaskWrapLevelTwo {
  background-color: rgba(188, 255, 220, 0.593);
  padding: 0.25rem;
}

div.individualTaskWrapTop {
  background-color: white;
  padding: 0.25rem;
}

div.individualTaskWrapLevelThree {
  background-color: gray;
}

div.individualTaskWrapLevelFour {
  background-color: rgba(128, 128, 128, 0.531);
  margin: 2px;
}

.red {
  color: red;
}
