body {
  padding-top: 3rem;
}

header {
  width: 100vw;
  height: 3rem;
  position: fixed;
  top: 0px;
  background-color: gainsboro;
  z-index: 2;
}
header h5 {
  float: left;
  margin-left: 3rem;
}

#viewControlFrame {
  height: 2rem;
  border: solid blue 1px;
  float: right;
  margin-right: 2rem;
  display: flex;
}

.viewSelector {
  padding: 0.5rem;
}

.stickiWrap {
  position: absolute;
  width: 100px;
  border: solid yellow 1px;
}

#screenFrame {
  height: 100vh;
  width: 100vw;
  border: solid black 3px;
}
#pageFrame {
  height: 100%;
  width: 100%;
  border: dotted orange 5px;
  display: flex;

  z-index: 5;
}

#stickiFrame,
#listFrame {
  flex-grow: 1;
}
#stickiFrame {
  border: solid blue 3px;
  background: rgb(230, 230, 159);
  max-height: 50%;
  overflow-x: scroll;
  overflow-y: scroll;
}
#listFrame {
  border: solid red 3px;

  display: inline;
  overflow-x: scroll;
}
#stickiFrameInnerWrap {
  position: relative;
  /* height: 100%; change this to be proportional  */
  flex-grow: 1;
  background-color: teal;
  width: 3000px;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

#listFrameInnerWrap {
  width: 3000px; /* make this width grow on user clicks  */
  /* height: 48vh; change this to be proportional  */
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  background-color: gray;
}

.listWrap {
  border: solid pink 2px;
  float: left;
  width: 20vw;
  min-width: 150px;
  max-width: 400px;
  margin-left: 20px;
  overflow-y: scroll;
}
.timeDash {
  color: pink;
}

.listWrap {
  color: white;
  /* width: 20vw;
  border: solid aqua 1px;
  height: 200px; */
}

#timelineFrame {
  border: orange dotted 3px;
  position: fixed;
  bottom: 0px;
  background-color: greenyellow;
  overflow-y: scroll;
  height: 3rem;
  width: 100vw;
  z-index: 100;
}
#timelineContent {
  width: 3000px;
  padding-top: 0.5rem;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* at very small screen size, the
sticki-frame and the list-frame
are the same height as the screen.
you can scroll to see the bottom one
or click to change which is on top */
@media all and (max-width: 600px) {
  #pageFrame {
    height: 180vh;
  }
  #listFrameInnerWrap {
    height: 90vh;
  }
}

@media all and (max-width: 600px) {
  #timelineFrame {
    height: 100vh;
    width: 1.5rem;
    font-size: smaller;
  }
  #timelineContent {
    width: 2rem;
  }
  #pageFrame {
    margin-left: 1rem;
  }
}

@media all and (min-width: 601px) and (max-width: 850px) {
  #timelineFrame {
    height: 100vh;
    width: 2rem;
  }
  #timelineContent {
    width: 2rem;
  }

  #pageFrame {
    margin-left: 2rem;
  }
}

/* MEDIA QUERIES: */
/* Small devices (landscape phones, 576px and up) */
@media all and (min-width: 576px) {
  body {
    background-color: orange;
    border: dotted orange 3px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: aqua;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: greenyellow;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: pink;
  }
}

/* view options being changed via js:  
/* two options for pageFrame: */
.columnFrame {
  flex-direction: column;
}
.rowFrame {
  flex-direction: row;
}
/* the stickiFrame and listFrame have to adjust their height based on if the parent frame is a column or a row: */
.rowItem {
  height: 100vh;
}
.columnItem {
  /* max-height: 50%; */
}
/* toggle the order that the stickiFrame and listFrame appear in: */

.first {
  order: 1;
}
.second {
  order: 2;
}
