/* styles needed to toggle the nested task view */

li {
  cursor: pointer !important;
}

.hidden {
  display: none;
}

.has-children {
  border-bottom: 10px solid purple !important;
}

/* .hide-this {
    cursor: pointer;
  }
  
  .hide-this > * {
    cursor: auto;
  } */
